<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <meta charset="UTF-8">
	 <link rel="stylesheet" href="../css/MojeKonto.style.css" />
    <title>Szczegłóły miejsca</title>
  </head>
	
  <body>
    <div class="nawigacja">
        <p><a href="/">Strona główna</a> > 
            <a href="/posty/profil">Mój profil</a> >
            <a href="/miejsce/listaMiejsc">Lista miejsc</a> >
            Szczegóły miejsca</p>

    </div>
		<div class="zarej">
		<h1>Szczegłóły miejsca<h1>
		<br>
		</div>
		<%var indexmiejsce = miejsceList.findIndex( x => x.id == miejsceId);%>
		  <div class="srodek " > 
			  	<p  class="obramPole">
					<label>Id:</label>
					<label><%=miejsceId%></label>
				</p>
				<p class="obramPole">
					<label>Tytuł:</label>
					<label><%= miejsceList[indexmiejsce].tytul%></label>
				</p>
				<p class="obramPole">
					<label>Szerokość geograficzna:</label>	
					<label><%= miejsceList[indexmiejsce].szerGeog%></label>
				</p>
				<p class="obramPole">
					<label>Długość geograficzna:</label>
					<label><%= miejsceList[indexmiejsce].dlugGeog%></label>
				</p>
				<p class="obramPole">
					<label>Własny opis:</label>
					<label><%= miejsceList[indexmiejsce].opis%></label>
				</p>

				<!--
					<textarea name="duzy_teks" id="duzy_teks" rows="4" cols="50"> </textarea>
				-->		
		
		</div>
		
		<div class="zdjecie">
			<img src="../ZDJ/Miejsce.jpg" alt="krajobraz" width="600" height="400" >
		</div>
		
  </body>
</html>	


	