<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <meta charset="UTF-8">
	 <link rel="stylesheet" href="../css/MojeKonto.style.css" />
    <title>Szczegłóły konta</title>
  </head>
	
  <body>
    <div class="nawigacja">
        <p><a href="/">Strona główna</a> > 
            <a href="/profil" >Lista profili</a> > 
            Szczegóły konta</p>

    </div>
		<div class="zarej">
		<h1>Szczegłóły konta<h1>
		<br>
		</div>
		<%var indexprofil = profilList.findIndex( x => x.id == profilId);%>
		  <div class="srodek " > 
			  	<p  class="obramPole">
					<label>Id:</label>
					<label><%=profilId%></label>
				</p>
				<p class="obramPole">
					<label>Imie:</label>
					<label><%= profilList[indexprofil].imie%></label>
				</p>
				<p class="obramPole">
					<label>Nazwisko:</label>	
					<label><%= profilList[indexprofil].nazwisko%></label>
				</p>
				<p class="obramPole">
					<label>Login:</label>
					<label><%= profilList[indexprofil].login%></label>
				</p>
				<p class="obramPole">
					<label>Hasło:</label>
					<label><%= profilList[indexprofil].haslo%></label>
				</p>
				<p class="obramPole">
					<label>Adres e-mail:</label>
					<label><%= profilList[indexprofil].email%></label>
				</p>
				<p class="obramPole">
					<label>Własny opis:</label>
					<label><%= profilList[indexprofil].opis%></label>
				</p>

				<!--
					<textarea name="duzy_teks" id="duzy_teks" rows="4" cols="50"> </textarea>
				-->		
		
		</div>
		
		<div class="zdjecie">
			<img src="../ZDJ/MojeKonto.jpg" alt="krajobraz" width="600" height="400" >
		</div>
		
  </body>
</html>	


	