<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="../css/MojeKonto.style.css" />

    <title>Szczegłóły konta</title>
  </head>
	
  <body>

    <div class="nawigacja">
        <p><a href="/">Strona główna</a> > 
            <a href="/profil" >Lista profili</a> > 
            Edycja konta</p>

    </div>
		<div class="zarej">
		    <h1>Edycja konta<h1>
		<br>
        </div>
		<div class="srodek" > 

            <form id="myForm" action="/profil/edytujZapisz" method="POST" novalidate>
				<label for="idProfil">ID:</label>
                <input id="idProfil" name="idProfil" type="text"  value="<%= profilId %>" readonly></input>

                <p>
                    <label for="firstName">Imie:</label>
                    <input id="firstName" name="name" type="text" onfocusout="validateFirstName()" value="<%= profilList[0].imie %>"></input>
                    <span ></span>
                </p>  
                <p>
                    <label for="lastName">Nazwisko:</label>
                    <input id="lastName" name="surname" type="text" onfocusout="validateLastName()" value="<%= profilList[0].nazwisko %>"></input>                 
                    <span ></span>
                </p>
                <p>
                    <label for="login">Login:</label>
                    <input id="login" name="log" type="text" onfocusout="validateLogin()" value="<%= profilList[0].loginUzytk %>"></input>
                    <span ></span>

                </p>
                <p>
                    <label for="password">Hasło:</label>
                    <input id="password" name="password" type="text" onfocusout="validatePassword()" value="<%= profilList[0].haslo %>"></input>
                    <span ></span>

                </p>
                <p>
                    <label for="email">Adres email:</label>
                    <input id="email" name="mail" type="text" onfocusout="validateEmail()" value="<%= profilList[0].email %>"></input>
                    <span ></span>

                </p>
                <p>
                    <label for="desc">Opis:</label>
                    <input id="desc" name="desc" type="text" onfocusout="validateDesc()" value="<%= profilList[0].opis %>"></input>
                    <span ></span>

                </p>            
                <div class="form-actions-container">
                    <input type="submit" value="Zapisz" class="action-btn"></input>
                    <a href="/profil" class="action-btn">Anuluj</a>
                </div>
            </form> 	
		</div>
		
		<div class="zdjecie">
			<img src="../ZDJ/MojeKonto.jpg" alt="krajobraz" width="600" height="400" >
        </div>
        
	    <script src="../../JS/ProfilValid.js"></script>
	
  </body>
</html>	


	