<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="../css/newForm.css" />

    <title>Dodaj miejsce</title>
  </head>
  <body>
    <div class="nawigacja">
        <a href="/">Strona główna</a> >
        <a >Zarejestruj się</a> 
    
    </div>
	
	<div class="srodek">
        
            <h2> <%= pageTitle %></h2>
            <form id="myForm" action="/profil/<%= formAction %>" method="POST" novalidate>
                <input type="hidden" name="profil_id" value="<%= profil.idProfil %>"></input>
    
                <p>
                    <label for="firstName">Imie:</label>
                    <input id="firstName" name="name" type="text" onfocusout="validateFirstName()" <%= formAction ? '' : 'readonly' %>
                        value="<%= profil.imie %>"></input>
                        <span ></span>

                </p>
                
                <p>
                    <label for="lastName">Nazwisko:</label>
                    <input id="lastName" name="surname" type="text" onfocusout="validateLastName()" <%= formAction ? '' : 'readonly' %>
                        value="<%= profil.nazwisko %>"></input>
                        <span ></span>
 
                </p>
                
                <p>
                    <label for="login">Login:</label>
                    <input id="login" name="log" type="text" onfocusout="validateLogin()" <%= formAction ? '' : 'readonly' %>
                    value="<%= profil.loginUzytk %>"></input>
                    <span ></span>

                </p>
                <p>
                    <label for="password">Hasło:</label>
                    <input id="password" name="password" type="text" onfocusout="validatePassword()" <%= formAction ? '' : 'readonly' %>
                    value="<%= profil.haslo %>"></input>      
                    <span ></span>

                </p>
                <p>
                    <label for="email">Adres email:</label>
                    <input id="email" name="mail" type="text"  onfocusout="validateEmail()" <%= formAction ? '' : 'readonly' %>
                    value="<%= profil.email %>"></input>
                    <span ></span>

                </p>
                <p>
                    <label for="desc">Opis:</label>
                    <input id="desc" name="desc" type="text" onfocusout="validateDesc()" <%= formAction ? '' : 'readonly' %>
                    value="<%= profil.opis %>"></input>    
                    <span ></span>

                </p>        

                    
                <div class="form-actions-container">
                    <% if( formAction ) { %>
                    <input type="submit" value="Zapisz" class="action-btn"></input>
                    <% } %>
                    <a href="/" class="action-btn">Anuluj</a>
                </div>
            </form>
    </div>


	<div class="zdjecie">
			<img src="../ZDJ/dodajProfil.jpg" alt="krajobraz" width="600" height="400" >
	</div>
	

    <script src="../../JS/ProfilValid.js"></script>

  </body>
</html>	


    
