<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="../css/MojeKonto.style.css" />

    <title>Edycja postu</title>
  </head>
	
  <body>

    <div class="nawigacja">
        <p><a href="/">Strona główna</a> > 
			<a href="/posty" >Lista postów</a> > 
            Edycja postu</p>

    </div>
		<div class="zarej">
		    <h1>Edycja postu<h1>
		<br>
        </div>
		<div class="srodek " > 

            <form  id="myForm"  action="/posty/edytujZapisz" method="POST" novalidate>
				<label for="idPost">ID:</label>
                <input id="idPost" name="idPost" type="text" value="<%= postId %>" readonly></input>

                <p>
                    <label for="idAutora">Id autora:</label>
                    <input id="idAutora" name="idAut" type="text" onfocusout="validateAutor()" value="<%= postList[0].Profil_idProfil %>"></input>
                    <span></span>

                </p> 
                <p>
                    <label for="idMiejscaPostu">Id miejsca:</label>
                    <input id="idMiejscaPostu" name="idMjscPst" type="text" onfocusout="validateMiejsce()" value="<%= postList[0].Miejsce_idMiejsca %>"></input>
                    <span></span>

                </p> 
                <p>
                    <label for="title">Tytuł:</label>
                    <input id="title" name="title" type="text" onfocusout="validateTitle()" value="<%= postList[0].tytul %>"></input>
                    <span></span>

                </p>  
                <p>
                    <label for="score" >Twoja ocena (1-10):</label>
                    <input id="score" name="score" type="text" onfocusout="validateScore()" value="<%= postList[0].ocena %>"></input>
                    <span></span>
                        
                </p>
                <p>
                    <label for="desc">Opis:</label>
                    <input id="desc" name="desc" type="text" onfocusout="validateDesc()" value="<%= postList[0].opis %>"></input>
                    <span></span>

                </p>
            
                <div class="form-actions-container">
                    <input type="submit" value="Zapisz" class="action-btn"></input>
                    <a href="/posty" class="action-btn">Anuluj</a>
                </div>
            </form>
            
            
		</div>
		
		<div class="zdjecie">
			<img src="../ZDJ/MojeKonto.jpg" alt="krajobraz" width="600" height="400" >
        </div>
        
        <script src="../../JS/PostValid.js"></script>

  </body>
</html>	


	