<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="../css/newForm.css" />
    <title>Dodaj miejsce</title>
  </head>
  <body>
    <div >
        <a href="/">Strona główna</a> > 
        <a href="/posty/profil">Mój profil</a> >
        <a href="/posty">Moje posty</a> >
        <a href="/miejsce">Wybierz miejsce</a> >
        <a >Nowy post</a>
    </div>
	
	<div class="srodek">
        
            <h2> <%= pageTitle %></h2>
            <form  id="myForm"  action="/posty/<%= formAction %>" method="POST" novalidate>
                <input type="hidden" name="post_id" value="<%= post.idPost %>"></input>
    
                <p>
                    <label for="idAutora">Wpisz swoje ID :</label>
                    <input id="idAutora" name="idAut" type="text" onfocusout="validateAutor()" <%= formAction ? '' : 'readonly' %>
                        value="<%= post.Profil_idProfil %>"></input>
                        <span></span>
    
                </p>
                <p>
                    <label for="idMiejscaPostu">Wpisz ID miejsca wybranego poprzednio:</label>
                    <input id="idMiejscaPostu" name="idMjscPst" type="text" onfocusout="validateMiejsce()" <%= formAction ? '' : 'readonly' %>
                        value="<%= post.Miejsce_idMiejsca %>"></input>
                        <span></span>
        
                </p>
                <p>
                    <label for="title">Tytuł:</label>
                    <input id="title" name="title" type="text" onfocusout="validateTitle()" <%= formAction ? '' : 'readonly' %>
                        value="<%= post.tytul %>"></input>
                        <span></span>
        
                </p>
               
                <!--
                <label for="ocena">Ocena:</label>
                <input id="ocena" name="score" type="text" <%= formAction ? '' : 'readonly' %>
                    value="<%= post.ocena %>"></input>
                -->
                
                <p>
                    <label for="score" >Twoja ocena:</label>
                    <br>
                    <select id="score" name="score" type="text" onfocusout="validateScore()" <%= formAction ? '' : 'readonly' %>
                        <option ></option>
                            <option >1</option>
                            <option >2</option>
                            <option >3</option>
                            <option >4</option>
                            <option >5</option>
                            <option >6</option>
                            <option >7</option>
                            <option >8</option>
                            <option >9</option>
                            <option >10</option>
                    value="<%= post.ocena %>"></select>
                    <span></span>

                </p>
               
               
                <p>

                    <label for="desc">Opis:</label>
                    <input id="desc" name="desc" type="text" onfocusout="validateDesc()" <%= formAction ? '' : 'readonly' %>
                        value="<%= post.opis %>"></input>   
                        <span></span>

               </p>
                    <div class="form-actions-container">
                        <% if( formAction ) { %>
                        <input type="submit" value="Zapisz" class="action-btn"></input>
                        <% } %>
                        <a href="/miejsce" class="action-btn">Anuluj</a>
                    </div>
                    
                
            </form>
        </div>
	</div>
	<div class="zdjecie">
			<img src="../ZDJ/dodajPost.jpg" alt="krajobraz" width="600" height="400"  >
	</div>
	

	<script src="../../JS/PostValid.js"></script>

  </body>
</html>	
