<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Lista postów</title>
    <link rel='stylesheet' href='../css/main.css'>
</head>

<body>
    <div >
        <a href="/">Strona główna</a> > 
        <a href="/posty/profil">Mój profil</a> >
        <a >Moje posty</a>
    </div>
    <div class="tytuł">
		<h1>Moje posty</h1>
	</div>
        <h1>Lista moich postów:</h1>
        <table class="entity-table">
            <tr>
                <th>Id postu</th>
                <th>Id autora</th>
                <th>Id miejsca</th>
                <th>Tytuł</th>
                <th>Ocena</th>
                <th>Opis</th>
                <th>Akcje</th>
            </tr>
            <% postList.forEach(function(post){ %>
            <tr>
                <td><%= post.idPost %></td>
                <td><%= post.Profil_idProfil %></td>
                <td><%= post.Miejsce_idMiejsca %></td>
                <td><%= post.tytul %></td>
                <td><%= post.ocena %></td>
                <td><%= post.opis %></td>
                <td class="actions">
                    <a href="/posty/szczegoly?post_id=<%= post.idPost %>">Szczegóły</a>
                    <a href="/posty/edycja?post_id=<%= post.idPost %>">Edytuj</a>
                    <a href="/posty/usun?post_id=<%= post.idPost %>">Usuń</a>
                </td>
            </tr>
            <% }) %>
            <tr class="table-footer">
                <td colspan="7"><a href="/miejsce">Nowy post</a></td>
            </tr>
        </table>
        
    </main>
    
</body>

</html>