<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="../css/MojeKonto.style.css" />

    <title>Edycja miejsca</title>
  </head>
	
  <body>

    <div class="nawigacja">
        <p><a href="/">Strona główna</a> > 
            <a href="/posty/profil">Mój profil</a> >
            <a href="/miejsce/listaMiejsc">Lista miejsc</a> >
            Edycja miejsca</p>

    </div>
		<div class="zarej">
		    <h1>Edycja miejsca<h1>
		<br>
        </div>
		<div class="srodek" > 
            <form id="myForm" action="/miejsce/edytujZapisz" method="POST" novalidate>
				<label for="idMiejsca">ID:</label>
                <input id="idMiejsca" name="miejsceId" type="text" value="<%= miejsceId %>" readonly></input>
    
                <p>
                    <label for="login">Tytuł:</label>
                    <input id="login" name="title" type="text" onfocusout="validateLogin()" value="<%= miejsceList[0].tytul %>"></input>
                    <span></span>			
                </p>  
                <p>
                    <label for="latitude">Szerokość geograficzna:</label>
                    <input id="latitude" name="szGeog" type="text" onfocusout="validateLatitude()" value="<%= miejsceList[0].szerokoscGeog %>"></input>                 
                    <span></span>			
                </p>
                <p>
                    <label for="altitude">Długość geograficzna:</label>
                    <input id="altitude" name="dlGeog" type="text" onfocusout="validateAltitude()" value="<%= miejsceList[0].dlugoscGeog %>"></input>
                    <span></span>			
                </p>
                <p>
                    <label for="desc">Opis:</label>
                    <input id="desc" name="desc" type="text" onfocusout="validateDesc()" value="<%= miejsceList[0].opis %>"></input>
                    <span></span>			
                </p>            
                <div class="form-actions-container">
                    <input type="submit" value="Zapisz" class="action-btn"></input>
                    <a href="/miejsce/listaMiejsc" class="action-btn">Anuluj</a>
                </div>
            </form> 	
		</div>
		
		<div class="zdjecie">
			<img src="../ZDJ/MojeKonto.jpg" alt="krajobraz" width="600" height="400" >
		</div>
        
        <script src="../../JS/MiejsceValid.js"></script>

  </body>
</html>	


	