<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="../css/newForm.css" />
    <title>Dodaj miejsce</title>
  </head>
  <body>
    <div class="nawigacja">
        <p><a href="/">Strona główna</a> > 
            <a href="/posty/profil" >Mój profil</a> > 
            <a href="/miejsce" > Dodaj post</a> > 
            Dodaj miejsce</p>
	</div>
	
	<div class="srodek">
        
        <form  id="myForm" action="/miejsce/<%= formAction %>" method="POST" novalidate>
            <div>
                <h3>Dodaj nowe miejsce !</h3>
            </div>
            <input type="hidden" name="miejsce_id" value="<%= miejsce.idMiejsca %>"></input>

			<p>
                <label for="login">Tytuł:</label>
                <input id="login" name="title" type="text" onfocusout="validateLogin()" <%= formAction ? '' : 'readonly' %>
                    value="<%= miejsce.tytul %>"></input>		
                    <span></span>			
			</p>
			<p>
                <label for="latitude">Szerokość geograficzna:</label>
                <input id="latitude" name="szGeog" type="text" onfocusout="validateLatitude()" <%= formAction ? '' : 'readonly' %>
                    value="<%= miejsce.szerokoscGeog %>"></input>
                    <span></span>			
			</p>
	
			<p>
				        <label for="altitude">Długość geograficzna:<label>
                <input id="altitude" name="dlGeog" type="text" onfocusout="validateAltitude()" <%= formAction ? '' : 'readonly' %>
                      value="<%= miejsce.dlugoscGeog %>"></input>
                      <span></span>			
	
			</p>
			<p>
                <label for="desc">Opis:</label>
                <input id="desc" name="desc" type="text" onfocusout="validateDesc()" <%= formAction ? '' : 'readonly' %>
                    value="<%= miejsce.opis %>"></input>       
                    <span></span>			
			</p>

		  
		<div  >
            <% if( formAction ) { %>
                <input type="submit" value="Zapisz" class="action-btn"></input>
                <% } %>
                <a href="/miejsce" class="action-btn">Anuluj</a>
	</div>
	</form>
	</div>
	<div class="zdjecie">
			<img src="../ZDJ/DodajMiejsce.jpeg" alt="krajobraz" >
	</div>
	

	<script src="../../JS/MiejsceValid.js"></script>

  </body>
</html>	


	